# Applying Softmax to Existing Inferences CSVs

In [ ]:
from fastai.vision.all import *

In [ ]:
path = Path("/home/jupyter/kaggle/plant-pathology/exps/resnet50/"); path.ls()

(#9) [Path('/home/jupyter/kaggle/plant-pathology/exps/resnet50/predictions_fold_4.csv'),Path('/home/jupyter/kaggle/plant-pathology/exps/resnet50/pseudo_labels.csv'),Path('/home/jupyter/kaggle/plant-pathology/exps/resnet50/log.txt'),Path('/home/jupyter/kaggle/plant-pathology/exps/resnet50/.ipynb_checkpoints'),Path('/home/jupyter/kaggle/plant-pathology/exps/resnet50/predictions_fold_1.csv'),Path('/home/jupyter/kaggle/plant-pathology/exps/resnet50/predictions_fold_2.csv'),Path('/home/jupyter/kaggle/plant-pathology/exps/resnet50/predictions_fold_0.csv'),Path('/home/jupyter/kaggle/plant-pathology/exps/resnet50/predictions_fold_3.csv'),Path('/home/jupyter/kaggle/plant-pathology/exps/resnet50/averaged_predictions.csv')]

In [ ]:
for i in range(5):
    file = path/f"predictions_fold_{i}.csv"
    df = pd.read_csv(file)
    break

In [ ]:
df

       image_id   healthy  multiple_diseases      rust      scab
0        Test_0  0.021315           0.023831  0.933211  0.021643
1        Test_1  0.022957           0.040021  0.905415  0.031607
2        Test_2  0.019066           0.022804  0.022321  0.935809
3        Test_3  0.950640           0.008914  0.028596  0.011850
4        Test_4  0.024369           0.031967  0.915583  0.028081
...         ...       ...                ...       ...       ...
1816  Test_1816  0.024624           0.041655  0.903764  0.029957
1817  Test_1817  0.024164           0.521163  0.037871  0.416802
1818  Test_1818  0.022549           0.025388  0.927716  0.024348
1819  Test_1819  0.907196           0.038491  0.034151  0.020161
1820  Test_1820  0.025596           0.040959  0.022594  0.910852

[1821 rows x 5 columns]